<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>{{ 'SIDEBAR.Directory' | translate }} >
                    {{ 'SIDEBAR.Manufacturer' | translate }} > {{ 'Common.Detail'
                    | translate }}
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal align-middle">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 text-right">{{'Manufacturer.Name'|translate}}</label>
                                        <div class="col-md-8">{{manufacturer?.name}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 text-right">{{'Manufacturer.CreateTime'|translate}}</label>
                                        <div class="col-md-8">{{manufacturer?.createTime |  date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 text-right">{{'Manufacturer.CreatedBy'|translate}}</label>
                                        <div class="col-md-8">{{manufacturer?.createdBy}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 text-right">{{'Manufacturer.UpdateTime'|translate}}</label>
                                        <div class="col-md-8">{{manufacturer?.updateTime |  date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 text-right">{{'Manufacturer.UpdatedBy'|translate}}</label>
                                        <div class="col-md-8">{{manufacturer?.updatedBy}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Manufacturer.Status'|translate}}</label>
                                        <div class="col-md-8">{{manufacturer?.statuss==1?'Active':'Inactive'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn default" (click)="goBack()">
                                    <i class="fa fa-undo"
                                        aria-hidden="true"></i>{{ 'Common.Back' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
