<footer class="footer">
    <div class="nav footer-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 pr-0">
                    <div class="widget">
                        <h5 class="widget-title">BABY SHOP</h5>
                        <div class="link-list">
                            <li><a href="#">Giới thiệu về Con Cưng</a></li>
                            <li><a href="#">Tuyển dụng khối Văn phòng</a></li>
                            <li><a href="#">Tuyển dụng Khối siêu thị</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-5">
                    <div class="widget">
                        <h5 class="widget-title ml-2">HỖ TRỢ KHÁCH HÀNG</h5>
                        <div class="row">
                            <div class="col-md-6 ml-4 pr-0 pl-0">
                                Hotline miễn phí<br> CSKH: 1800 6703 (8h-22h)*<br> Mua hàng: 1800 6609 (7h:30-21h30)*<br> (Tất cả các ngày trong tuần)
                            </div>
                            <div class="col-md-5 ml-0 pr-0 pl-0">
                                <div class="link-list">
                                    <li><a href="#">Tra cứu hoá đơn</a></li>
                                    <li><a href="#">Mua &amp; giao nhận Online</a></li>
                                    <li><a href="#">Qui định &amp; hình thức thanh toán</a></li>
                                    <li><a href="#">Bảo hành &amp; Bảo trì</a></li>
                                    <li><a href="#">Đổi trả &amp; Hoàn tiền</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="widget">
                        <h5 class="widget-title">ĐƠN VỊ VẬN CHUYỂN</h5>
                        <div class="logo-list row">
                            <div class="col-6">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/ahamove@3x.png" alt="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/grab-express.png" alt="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/dhl@3x.png" alt="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/viettel@3x.png" alt="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pl-lg-5">
                    <div class="widget">
                        <h5 class="widget-title">CÁCH THỨC THANH TOÁN</h5>
                        <div class="logo-list row">
                            <div class="col-4">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/zalopay@3x.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/momo@3x.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/atm@3x.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/master@3x.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/visa@3x.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/jsb@3x.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="logo-item text-center">
                                    <div class="logo-img border-img">
                                        <a href="#">
                                            <img class="img-fluid" src="../../../../assets/images/cod@3x.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex">
                        <div class="footer-logo flex-0 mr-3" style="width: 100px;">
                            <img class="img-fluid" src="../../../../assets/images/logo-en.png" alt="#"></div>
                        <div class="footer-infos">
                            <h5>CỬA HÀNG BABY SHOP</h5>
                            <p>
                                <strong>Điện thoại:</strong> 028 7300 6609<br><strong>Email: </strong>
                                <a href="mailto:cskh@babyshop.com" style="color: blue;">cskh@babyshop.com</a><br>
                                <strong>ĐKKD:</strong> TT Chờ-Trung Ngĩa-Yên Phong-Bắc Ninh<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5>&nbsp;</h5>
                    <p>
                        <a target="_bank" href="#"><img class="img-fluid" src="../../../../assets/images/noticed@3x.png" width="130" height="45" alt="#"></a>
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 text-center">
                    <h5 class="font-12">SCAN ĐỂ TẢI APP</h5>
                    <p><img src="../../../../assets/images/download.png" style="width: 100px; margin: 0 auto;" alt="Tải App Ngay"></p>
                </div>
                <div class="col-lg-2 col-md-6 text-lg-right pl-lg-0">
                    <h5 class="font-12">KẾT NỐI VỚI CHÚNG TÔI</h5>
                    <p class="d-lg-flex justify-content-between align-items-center">
                        <a target="_blank" class="mr-3" href="#"><i class="icons icon-facebook icon-lg"></i></a>
                        <a target="_blank" class="mr-3" href="#"><i class="icons icon-youtube icon-lg"></i></a>
                        <a href="#instagram"><i class="icons icon-instagram icon-lg"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>