<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light ftco-navbar-light-2"
  id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/home">Modist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="/shop">Shop</a>
            <!-- <a class="dropdown-item" href="/singleProduct">Single Product</a> -->
            <a class="dropdown-item" href="/cart">Cart</a>
            <a class="dropdown-item" href="/checkout">Checkout</a>
          </div>
        </li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span
              class="icon-shopping_cart"><span>[</span>{{total}}<span>]</span></span></a></li>
        <li class="nav-item">
          <a type="button" class="search nav-link"><span class="lnr lnr-magnifier" id="search"></span></a>
        </li>
        <li class=" nav-item dropdown dropdown-user" style="text-align: center;">
          <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <!-- <img alt="" class="" src="assets/homecss/images/avatar.png" /> -->
              <span class="username username-hide-on-mobile"> {{USER}} </span>

              <!-- <i class="fa fa-angle-down"></i> -->
          </a>
          <ul class="dropdown-menu dropdown-menu-default"style="text-align: center;">
            <li>
              <a routerLink="/user-profile"><i class="icon-user">MyProfile</i> </a>
            </li>
            <hr>
            <li class="divider"> </li>
            <li>
              <a type="button" (click)="logout()">
                <i class="icon-key"></i> Logout </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="search_input_box">
    <div class="container">
      <form class="d-flex ">
        <input  type="text" style="background: -webkit-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
        background: -moz-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
        background: -o-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
        background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);  width: 100%;height: 50px; ;" placeholder="Search Heres">
        <button style="padding-top: 10px;padding-right: 10px; font-size: 30px;" class="lnr lnr-magnifier" type="submit" value="Search"></button>
        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
      </form>
    </div>
  </div>
  
</nav>