<div class="top-area">
    <div class="mod-head-slide">
        <div class="grid_frame">
            <div class="wrap-slide">
                <p class="ta-c"><img src="../../../assets/images/ajax-loader.gif" alt="loading"></p>
                <div id="sys_head_slide" class="head-slide flexslider">
                    <ul class="slides">
                        <li>
                            <img src="../../../assets/images/ex/01_banner.jpg" alt="" />
                        </li>
                        <li>
                            <img src="../../../assets/images/ex/02_banner.jpg" alt="" />
                        </li>
                        <li>
                            <img src="../../../assets/images/ex/03_banner.jpg" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid_frame page-content">
    <div class="container_grid">
        <div class="mod-grp-coupon block clearfix" style="padding-top: 50px;">
            <mdb-card>
                <mdb-card-header style="color: #04bfbf;font-size: 25px;">Sản phẩm mới</mdb-card-header>
                <mdb-card-body>
                    <!-- item product new start -->
                    <div class="block-content list-coupon clearfix">
                        <div class="coupon-item grid_3" *ngFor="let item of productNews;let i = index ">
                            <div class="coupon-content hoverable" style="border: 1px solid #ccc">
                                <div class="img-thumb-center">
                                    <div class="wrap-img-thumb">
                                        <span class="ver_hold"></span>
                                        <a [routerLink]="['/san-pham',item.id]" routerLinkActive="router-link-active" class="ver_container">
                                            <img src="../../../assets/images/ex/01_01.jpg" alt="$COUPON_TITLE">
                                        </a>
                                    </div>
                                </div>
                                <div class="coupon-brand">{{item.name}}</div>
                                <div class="coupon-price">{{item.price | FomatMoney}} </div><del>{{item.price | FomatMoney}}</del>
                                <div class="coupon-desc2"><strong>Nhà sản xuất:</strong> {{item.manufacturer.name}}</div>
                                <div class="coupon-desc2"><strong>Danh mục:</strong> {{item.category.name}}</div>
                                <div class="coupon-desc2"><strong>Trạng thái:</strong><em *ngIf="item.status == 1;else productStatus"> Còn hàng</em>
                                    <ng-template #productStatus><em> Hết hàng</em></ng-template>
                                </div>
                                <div class="coupon-desc">{{item.description}}</div>
                                <div class="customStar" title="Đánh giá của khách hàng">
                                    <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                    <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                    <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                    <span [ngClass]="{'fas fa-star-half-alt': i%2==0, 'fa fa-star checked': i%2!=0,'far fa-star' : i%3==0}" style="color:gold; padding: 1px;"></span>
                                    <span [ngClass]="{'far fa-star' : i%2==0, 'fas fa-star-half-alt': i%2!=0}" style="color:gold; padding: 1px;"></span>
                                </div>
                                <a mdbBtn (click)="addToCart(item)" class="btn btn-blue btn-take-coupon fly-cart" *ngIf="item.status == 1;else elseBlock" style="width: 100%;"><span class="fas fa-cart-plus"></span> Thêm vào giỏ hàng</a>
                                <ng-template #elseBlock><button class="btn btn-blue btn-take-coupon" style="width: 100%;" disabled='true'><span class="fas fa-cart-plus"></span> Thêm vào giỏ hàng</button></ng-template>
                            </div>
                            <em class="stick-lbl trust-brand-b"></em>
                        </div>
                    </div>
                    <!-- item product new end -->
                </mdb-card-body>
                <mdb-card-footer class="text-muted"><button mdbBtn class="grid_6 btn btn-orange btn-load-more" [routerLink]="['/danh-muc']">Xem thêm tất cả</button></mdb-card-footer>
            </mdb-card>
        </div>

        <hr style="border: 0;
      height: 1px;
      background: #333;
      background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
      background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
      background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
      background-image: -o-linear-gradient(left, #ccc, #333, #ccc);">

        <!--end block: New Coupons-->
        <div class="mod-grp-coupon block clearfix" style="padding-top: 20px;">
            <mdb-card>
                <mdb-card-header style="color: #04bfbf;font-size: 25px;">Sản phẩm bán chạy</mdb-card-header>
                <mdb-card-body>
                    <div class="block-content list-coupon clearfix">
                        <!-- item product featured start -->
                        <div class="coupon-item grid_3" *ngFor="let item of productFeatured;let i = index">
                            <div class="coupon-content hoverable" style="border: 1px solid #ccc">
                                <div class="img-thumb-center">
                                    <div class="wrap-img-thumb">
                                        <span class="ver_hold"></span>
                                        <a [routerLink]="['/san-pham',item.id]" class="ver_container"><img src="../../../assets/images/ex/01_02.jpg" alt="$COUPON_TITLE"></a>
                                    </div>
                                </div>
                                <div class="coupon-brand">{{item.name}}</div>
                                <div class="coupon-price">{{item.price | FomatMoney}} </div><del>{{item.price | FomatMoney}}</del>
                                <div class="coupon-desc2"><strong>Nhà sản xuất:</strong> {{item.manufacturer.name}}</div>
                                <div class="coupon-desc2"><strong>Danh mục:</strong> {{item.category.name}}</div>
                                <div class="coupon-desc2"><strong>Trạng thái:</strong><em *ngIf="item.status == 1;else productStatus"> Còn hàng</em>
                                    <ng-template #productStatus><em> Hết hàng</em></ng-template>
                                </div>
                                <div class="coupon-desc">{{item.description}}</div>
                                <div class="customStar" title="Đánh giá của khách hàng">
                                    <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                    <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                    <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                    <span [ngClass]="{'fas fa-star-half-alt': i%2==0, 'fa fa-star checked': i%2!=0,'far fa-star' : i%3==0}" style="color:gold; padding: 1px;"></span>
                                    <span [ngClass]="{'far fa-star' : i%2==0, 'fas fa-star-half-alt': i%2!=0}" style="color:gold; padding: 1px;"></span>
                                </div>
                                <a mdbBtn (click)="addToCart(item)" class="btn btn-blue btn-take-coupon fly-cart" *ngIf="item.status == 1;else elseBlock" style="width: 100%;"><span class="fas fa-cart-plus"></span> Thêm vào giỏ hàng</a>
                                <ng-template #elseBlock><button class="btn btn-blue btn-take-coupon" style="width: 100%;" disabled='true'><span class="fas fa-cart-plus"></span> Thêm vào giỏ hàng</button></ng-template>
                            </div>
                            <em class="stick-lbl hot-sale"></em>
                        </div>
                        <!-- item product featured end -->
                    </div>
                </mdb-card-body>
                <mdb-card-footer class="text-muted"><button mdbBtn class="grid_6 btn btn-orange btn-load-more" [disabled]="maxTotalRecord" (click)="loadMoreProduct()">Xem thêm ({{totalRecord}})<em class="fas fa-level-down-alt"></em></button></mdb-card-footer>
            </mdb-card>
        </div>
        <!--end block: Featured Coupons-->

        <div class="mod-brands block clearfix">
            <div class="grid_12">
                <h3 class="title-block has-link">
                    ĐƠN VỊ SẢN XUẤT
                </h3>
            </div>
            <div class="block-content list-brand clearfix">
                <div class="brand-item grid_4">
                    <div class="brand-content">
                        <div class="brand-logo">
                            <div class="wrap-img-logo">
                                <span class="ver_hold"></span>
                                <a class="ver_container"><img style="height: 110px;" src="../../../assets/images/samsung.png" alt="$BRAND_TITLE"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: .brand-item -->
                <div class="brand-item grid_4">
                    <div class="brand-content">
                        <div class="brand-logo">
                            <div class="wrap-img-logo">
                                <span class="ver_hold"></span>
                                <a href="#" class="ver_container"><img style="height: 110px;" src="../../../assets/images/apple.png" alt="$BRAND_TITLE"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: .brand-item -->
                <div class="brand-item grid_4">
                    <div class="brand-content">
                        <div class="brand-logo">
                            <div class="wrap-img-logo">
                                <span class="ver_hold"></span>
                                <a href="#" class="ver_container"><img style="height: 110px;" src="../../../assets/images/azus.png" alt="$BRAND_TITLE"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: .brand-item -->
                <div class="brand-item grid_4">
                    <div class="brand-content">
                        <div class="brand-logo">
                            <div class="wrap-img-logo">
                                <span class="ver_hold"></span>
                                <a href="#" class="ver_container"><img style="height: 110px;" src="../../../assets/images/lamborghini.png" alt="$BRAND_TITLE"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: .brand-item -->
                <div class="brand-item grid_4">
                    <div class="brand-content">
                        <div class="brand-logo">
                            <div class="wrap-img-logo">
                                <span class="ver_hold"></span>
                                <a href="#" class="ver_container"><img style="height: 110px;" src="../../../assets/images/xiaomi.png" alt="$BRAND_TITLE"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: .brand-item -->
                <div class="brand-item grid_4">
                    <div class="brand-content">
                        <div class="brand-logo">
                            <div class="wrap-img-logo">
                                <span class="ver_hold"></span>
                                <a href="#" class="ver_container"><img style="height: 110px;" src="../../../assets/images/mercedes.png" alt="$BRAND_TITLE"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: .brand-item -->
            </div>
        </div>
        <!--end: .mod-brand -->
    </div>
</div>