.ver_container {
    display: block;
    height: 160px !important;
}


.wrap-img-logo > a.ver_container{
    width: 200px;
    height: 100px;
}

.wrap-img-logo > a.ver_container > img {
    width: 100%;
    height: 100%;
}