<div id="content" class="container-fluid">
    <div id="pay_2" class="row title_h3 pay">
        <div class="container">
            <h3>Tiến hành thanh toán</h3>
            <div class="row">
                <div class="col-md-7 col-sm-7 pull-left col-xs-12">
                    <h5>Phương thức giao hàng</h5>
                    <form id="frm_step2" name="frm_step2" method="POST" role="form">
                        <ul class="list-unstyled" id="box_shipping_method" *ngIf="shippings">
                            <li *ngFor="let shipping of shippings; let i = index">
                                <input id="shipping_method_{{i}}" type="radio" name="shippingId" value="{{shipping.id}}" [(ngModel)]="payInput.shippingId" [ngModelOptions]="{standalone: true}" (click)="SelectShipping(shipping)">
                                <label for="shipping_method_{{i}}">{{shipping.name}}</label> (<span style="font-weight: bold; font-size: 13px;">{{shipping.cost | FomatMoney}}</span>)<br>
                            </li>
                            <small>Chuyển hàng tới địa chỉ khách hàng.</small>
                        </ul>
                        <h5>Phương thức thanh toán</h5>
                        <p class="pay_text_ts">Mọi giao dịch đều được bảo mật và mã hóa. Thông tin thẻ tín dụng sẽ không bao giờ được lưu lại.</p>
                        <ul class="list-unstyled">
                            <li>
                                <input id="payment_method_1" type="radio" value="1" [(ngModel)]="payInput.payment" [ngModelOptions]="{standalone: true}">
                                <label for="payment_method_1"> Thanh toán bằng thẻ tín dụng(OnePay)</label>
                                <div>
                                    <img src="https://pubcdn.ivymoda.com/images/1.png" height="31" class="">
                                </div>
                            </li>
                            <li><input id="payment_method_2" type="radio" name="payment" value="2" [(ngModel)]="payInput.payment" [ngModelOptions]="{standalone: true}">
                                <label for="payment_method_2"> Thanh toán bằng thẻ ATM(OnePay)</label>
                                <div>
                                    <img src="https://pubcdn.ivymoda.com/images/2.png" height="31" class=""><br /> Hỗ trợ thanh toán online hơn 18 ngân hàng phổ biến Việt Nam.
                                </div>
                            </li>
                            <li>
                                <input id="payment_method_3" type="radio" name="payment" value="3" [(ngModel)]="payInput.payment" [ngModelOptions]="{standalone: true}">
                                <label for="payment_method_3"> Thanh toán Momo</label>
                                <div>
                                    <img src="https://pubcdn.ivymoda.com/images/5.png" height="31" class="">
                                </div>
                            </li>
                            <li>
                                <input id="payment_method_4" type="radio" name="payment" value="4" [(ngModel)]="payInput.payment" [ngModelOptions]="{standalone: true}">
                                <label for="payment_method_4"> Thu tiền tận nơi</label>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-12">
                                <a id="but-cancel-step1" [routerLink]="['/gio-hang']" routerLinkActive="router-link-active" class="pull-left">&lt;&lt; Quay lại</a>
                                <button type="submit" class="pull-right" id="but_pay" (click)="onSubmit()">Hoàn thành</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-sm-5 pull-right col-xs-12">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <p class="required" id="p_coupon" *ngIf="errCoupon">Mã giảm giá không tồn tại trong hệ thống</p>
                            <div class="panel-heading">Mã giảm giá / Quà tặng:</div>
                            <div class="panel-body">
                                <input type="text" name="coupon_code_text" id="coupon_code_text" [(ngModel)]="couponCode">
                                <button type="button" id="but_coupon_code" (click)="getCoupon()">
                                    <i class="fa fa-check" aria-hidden="true" style="font-size: 15px;"></i>
                                </button>
                            </div>
                            <div class="clearfix">
                                <br>
                            </div>
                        </div>

                        <table style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-right">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody class="main">
                                <tr *ngFor="let cart of carts">
                                    <td>
                                        <p>{{cart.product.name}}</p>
                                        <p>{{cart.product.id}} / {{cart.product.price | FomatMoney}}</p>
                                    </td>
                                    <td class="text-center">{{cart.quantity}}</td>
                                    <td class="text-right">{{(cart.product.price*(1-cart.product.discount/100))* cart.quantity | FomatMoney}}</td>
                                </tr>
                            </tbody>
                            <tfoot id="box_product_total">
                                <tr>
                                    <td colspan="2">Tạm tính</td>
                                    <td class="text-right"><b>{{totalProductMoney | FomatMoney}}</b></td>
                                </tr>
                                <tr *ngIf="shipping">
                                    <td colspan="2">{{shipping.name}}</td>
                                    <td class="text-right">{{shipping.cost | FomatMoney}}</td>
                                </tr>
                                <tr id="voucher-view" *ngIf="coupon">
                                    <td colspan="2">MÃ GIẢM GIÁ / QUÀ TẶNG ({{coupon.code}})</td>
                                    <td class="text-right">-{{coupon.sale | FomatMoney}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Tổng</b></td>
                                    <td class="text-right" id="product_sub_total_end">
                                        <b style="font-size: 20px; color: #ee3e80;">{{totalMoney | FomatMoney}}</b>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>