<header class="mod-header">
    <div class="grid_frame">
        <div class="container_grid clearfix">
            <div class="grid_12">
                <div class="header-content clearfix">
                    <h1 id="logo" class="rs">
                        <a href="trang-chu">
                            <img src="../../../../assets/images/logo.png" alt="$SITE_NAME" />
                        </a>
                    </h1>
                    <nav class="main-nav">
                        <ul id="main-menu" class="nav nav-horizontal clearfix">
                            <li class="active">
                                <a href="trang-chu">Trang chủ</a>
                            </li>
                            <li class="has-sub">
                                <a href="coupon-code.html">Danh mục sản phẩm</a>
                                <ul class="sub-menu">
                                    <li *ngFor="let category of categories"><a href="#"
                                            [routerLink]="['/danh-muc', category.id ]">{{category.name}}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Sản phẩm bán chạy</a>
                            </li>
                            <li><a href="blog.html">Sản phẩm mới</a></li>
                            <li>
                                <a href="coupon.html">Khuyến mại</a>
                            </li>
                            <li><a href="dang-nhap" title="Đăng nhập"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                            <li class="dropdown">
                                <a href="gio-hang">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span style="color: red; position: absolute;top: -3px;font-size: 12px; right: -6px; font-weight: bold;">1</span>
                                </a>
                                <ul class="dropdown-menu" style="display: none;">
                                    <h3 class="text-center"><a href="#" title="">Giỏ hàng</a></h3>
                                    <li>
                                        <ul class="list-inline clearfix">
                                            <li class="col-md-3 col-sm-4">
                                                <a href="#"><img src=""></a>
                                            </li>
                                            <li class="col-md-9 col-sm-8">
                                                <div class="title_cartMain">
                                                    <h5><a href="#"> </a></h5>
                                                </div>
                                                <div class="style_cartMain">
                                                   <b>Số lượng:</b> 1 
                                                </div>
                                            </li>

                                        </ul>
                                    </li>
                                    <li style="text-align: center;font-size: 13px;font-weight: 300;">
                                        <a href="gio-hang">...xem chi tiết</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end: header.mod-header -->