.box {
    margin-bottom: 40px;
}

.left {
    width: 45%;
    float: left;
    padding-left: 15px;
}

.right {
    width: 55%;
    float: right;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
}

.demowrap {
    width: 85%;
    display: block;
    float: left;
}

.demowrap img {
    width: 100%;
}

#product_detail>.container>.row>.col-md-12>.box>.right>h4 {
    font-size: 17px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 5px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.ID_productDetail {
    margin-bottom: 30px;
    color: #999;
    font-size: 11px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.ID_productDetail {
    margin-bottom: 30px;
    color: #999;
    font-size: 11px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.ID_productDetail {
    margin-bottom: 10px;
    color: #C00;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.price_productDetail {
    margin-bottom: 10px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.price_productDetail {
    margin-bottom: 30px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.price_productDetail>span.price_productDetail_main {
    font-size: 19px;
    font-weight: bold;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.price_productDetail>span.price_productDetail_main {
    font-size: 19px;
    font-weight: bold;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.price_productDetail>span.price_productDetail_main {
    font-size: 15px;
    margin-right: 5px;
}

.price_productDetail small {
    font-size: 100%;
}

.price_coupon_display {
    color: #D61713;
    font-size: 12px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>form>p.button_poductDetail {
    margin-bottom: 20px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>form>p.button_poductDetail>button {
    padding: 8px 20px;
    border: 2px solid #000;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 15px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>form>p.button_poductDetail>button {
    padding: 8px 20px;
    border: 2px solid #000;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 15px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>form>p.button_poductDetail>button>i {
    margin-right: 5px;
    font-size: 16px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>ul {
    margin-bottom: 15px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>p.productDetail_buttonShow {
    text-align: center;
    margin-top: -35px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>p.productDetail_buttonShow>i {
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 28px;
    background: #fff;
}

.description {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}

.cart-buttons .btn {
    width: 38px;
    height: 38px;
    padding: 0;
    line-height: 36px;
    margin-right: 3px;
    text-decoration: none;
}

.btn-outline {
    border: #ccc solid 1px;
    color: #666;
    background-color: transparent;
}

.btn-secondary {
    color: #666;
    border-color: #999;
    background-color: #ffffff;
}

.cart-buttons .btn {
    width: 38px;
    height: 38px;
    padding: 0;
    line-height: 36px;
    margin-right: 3px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 5px;
}

.cart-buttons.box-quantity {
    padding-bottom: 30px;
}

.grid_12>a {
    font-size: 13px;
}

.grid_12>a:hover {
    text-decoration: none;
    color: #04BFBF;
}

.price_coupon_display {
    color: #D61713;
    font-size: 13px;
}

#product_detail>.container>.row>.col-md-12>.box>.right>.price_productDetail>span.price_productDetail_sale {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 5px;
}

.ver_container {
    display: block;
}