.box {
    margin-bottom: 40px;
}

.left {
    width: 35%;
    float: left;
    padding-left: 15px;
}

.mid {
    width: 45%;
    float: left;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    padding-right: 10px;
}

.right {
    width: 20%;
    float: right;
}

.demowrap {
    width: 90%;
    display: block;
    float: left;
}

.demowrap img {
    width: 100%;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>h4 {
    font-size: 17px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 5px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.ID_productDetail {
    margin-bottom: 30px;
    color: #999;
    font-size: 11px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.ID_productDetail {
    margin-bottom: 30px;
    color: #999;
    font-size: 11px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.ID_productDetail {
    margin-bottom: 10px;
    color: #ee3e80;
    font-weight: bold;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.price_productDetail {
    margin-bottom: 10px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.price_productDetail {
    margin-bottom: 30px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.price_productDetail>span.price_productDetail_main {
    font-size: 19px;
    font-weight: bold;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.price_productDetail>span.price_productDetail_main {
    font-size: 19px;
    font-weight: bold;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.price_productDetail>span.price_productDetail_main {
    font-size: 15px;
    margin-right: 5px;
}

.price_productDetail small {
    font-size: 100%;
    color: #ee3e80;
}

.price_coupon_display {
    color: #ee3e80;
    font-size: 12px;
    font-weight: bold;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>form>p.button_poductDetail {
    margin-bottom: 20px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>form>p.button_poductDetail>button {
    padding: 8px 20px;
    border: 2px solid #000;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 15px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>form>p.button_poductDetail>button {
    padding: 8px 20px;
    border: 2px solid #000;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 15px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>form>p.button_poductDetail>button>i {
    margin-right: 5px;
    font-size: 16px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>ul {
    margin-bottom: 15px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>p.productDetail_buttonShow {
    text-align: center;
    margin-top: -35px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>p.productDetail_buttonShow>i {
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 28px;
    background: #fff;
}

.description {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}

.cart-buttons .btn {
    width: 38px;
    height: 38px;
    padding: 0;
    line-height: 36px;
    margin-right: 3px;
    text-decoration: none;
}

.btn-outline {
    border: #ccc solid 1px;
    color: #666;
    background-color: transparent;
}

.btn-secondary {
    color: #666;
    border-color: #999;
    background-color: #ffffff;
}

.cart-buttons .btn {
    width: 38px;
    height: 38px;
    padding: 0;
    line-height: 36px;
    margin-right: 3px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 5px;
}

.cart-buttons.box-quantity {
    padding-bottom: 30px;
}

.grid_12>a {
    font-size: 13px;
}

.grid_12>a:hover {
    text-decoration: none;
    color: #ee3e80;
}

.price_coupon_display {
    color: #D61713;
    font-size: 13px;
}

#product_detail>.container>.row>.col-md-12>.box>.mid>.price_productDetail>span.price_productDetail_sale {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
    margin-right: 5px;
}

.ver_container {
    display: block;
}

.border-block {
    position: relative;
    display: block;
    margin-bottom: 20px;
    border-radius: 8px;
    border: #eee solid 1px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .05);
    padding: 1rem;
    margin-bottom: 17px;
    font-size: 14px;
}

.checked-list:last-child {
    margin-bottom: 0;
}

.checked-list {
    padding-left: 0;
    list-style: none;
}

.checked-list li {
    padding-left: 25px;
    margin-bottom: 5px;
    min-height: 14px;
    background: url(https://concung.com/themes/desktop4.1/img/check.svg) no-repeat 0 2px;
    background-size: 14px 14px;
}

.booking-product {
    color: inherit;
    font-size: 14px;
    line-height: 30px;
}

.text-primary {
    color: #ee3e80!important;
    font-size: 25px;
}

.big-text {
    font-size: 30px!important;
}

#but_choose_product:hover {
    background-color: #ee3e80!important;
    border-color: #ee3e80!important;
    color: white;
}

a:hover {
    color: #ee3e80;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: white !important;
}