<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/account">{{ 'SIDEBAR.Account' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li *ngIf="isUpdate===true">
            <a href="#">{{ 'Common.Update' | translate}}</a>
        </li>
        <li *ngIf="isUpdate===false">
            <a href="#">{{ 'Common.Create' | translate}}</a>
        </li>
    </ul>
</div>
<div style="padding:10px;"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal align-middle" [formGroup]="accountForm" (ngSubmit)="submit(accountForm.value)">
            <div class="row">
                <!-- input  classroom -->
                <div class="col-md-6">
                    <input id="id" type="hidden" class="form-control" formControlName="id" />
                    <div class="form-group">
                        <label class="control-label col-md-4" for="username">{{ 'Account.Name' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="username" autocomplete="off" type="text" class="form-control"
                                formControlName="username" placeholder="{{ 'Account.Name' | translate }}" />
                            <!-- <div class="col-md-8">{{amphitheater?.nameClassroom}}</div> -->
                            <small class="error"
                                *ngIf="accountForm.get('username').invalid && (accountForm.get('username').touched)">
                                <span *ngIf="accountForm.get('username').errors.required">
                                    {{ 'Message.Required' | translate }}
                                </span>
                                <span
                                    *ngIf="isUpdate===false && !accountForm.get('username').errors.required&&accountForm.get('username').errors.pattern!=null">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span
                                    *ngIf="!accountForm.get('username').errors.required&&accountForm.get('username').errors.maxlength!=null">
                                    {{ 'Message.MaxLength' | translate }} 20
                                </span>
                            </small>
                            <small class="error"
                                *ngIf="!accountForm.get('username').invalid && (accountForm.get('username').touched)">
                                <span *ngIf="accountForm.get('username').value.trim() == ''">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span *ngIf="isUpdate===true && !isEqualOld(accountForm.get('username').value, 'id')">
                                    {{ 'Message.Same' | translate }}
                                </span>
                            </small>
                        </div>
                    </div>
                </div>

                <small class="error"
                    *ngIf="accountForm.get('username').invalid && (accountForm.get('username').touched)">
                    <span
                        *ngIf="accountForm.get('username').errors.required||accountForm.get('username').errors.pattern!=null">
                        {{ 'Message.Required' | translate }}
                    </span>
                    <span
                        *ngIf="!accountForm.get('username').errors.required&&accountForm.get('username').errors.maxlength!=null">
                        {{ 'Message.MaxLength' | translate }} 50
                    </span>
                </small>
                <small class="error"
                    *ngIf="!accountForm.get('username').invalid && (accountForm.get('username').touched)">
                    <span *ngIf="isUpdate===true && !isEqualOld(accountForm.get('username').value, 'name')">
                        {{ 'Message.Same' | translate }}
                    </span>
                </small>
                <!-- password -->
                <div class="col-md-6">
                    <!-- <input id="id" type="hidden" class="form-control" formControlName="id" /> -->
                    <div class="form-group">
                        <label class="control-label col-md-4" for="password">{{ 'Account.Password' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="password" autocomplete="off" type="text" class="form-control"
                                formControlName="password" placeholder="{{ 'Account.Password' | translate }}" />

                            <small class="error"
                                *ngIf="accountForm.get('password').invalid && (classroomForm.get('password').touched)">
                                <span *ngIf="accountForm.get('password').errors.required">
                                    {{ 'Message.Required' | translate }}
                                </span>
                                <span
                                    *ngIf="isUpdate===false && !accountForm.get('password').errors.required&&accountForm.get('password').errors.pattern!=null">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span
                                    *ngIf="!accountForm.get('password').errors.required&&accountForm.get('password').errors.maxlength!=null">
                                    {{ 'Message.MaxLength' | translate }} 20
                                </span>
                            </small>
                            <small class="error"
                                *ngIf="!accountForm.get('password').invalid && (accountForm.get('password').touched)">
                                <span *ngIf="accountForm.get('password').value.trim() == ''">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span *ngIf="isUpdate===true && !isEqualOld(accountForm.get('password').value, 'code')">
                                    {{ 'Message.Same' | translate }}
                                </span>
                            </small>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <!-- <div class="col-md-6" *ngIf="!isUpdate===true">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="active">{{'Account.Status'|translate}}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="hidden" required>
                                            <select class="form-control" formControlName="active" autofocus>
                                                <option *ngFor="let status of listStatus" [value]="status.id">
                                                    {{status.name}}</option>
                                            </select>
                                            <small class="error" *ngIf="accountForm.get('active').invalid 
                                          && (accountForm.get('active').touched)">
                                            </small>
                                        </div>
                                    </div>
                                </div> -->





                <!-- input update tên giảng đường -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="id" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="account">{{ 'Classroom.Amphitheater' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <ng-select [disabled]="false"
                                                [active]="indexAmphitheaterSelection!=null?[amphitheaterSelections[indexAmphitheaterSelection]]:''"
                                                [disabled]="disabled" [items]="amphitheaterSelections"
                                                (selected)="amphitheaterChanged($event?.id)"
                                                (removed)="refreshAmphitheaterValue($event)"
                                                placeholder="{{ 'Classroom.Amphitheater' | translate }}  "
                                                ngDefaultControl>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div> -->

                <!-- email -->
                <div class="col-md-6">
                    <input id="id" type="hidden" class="form-control" formControlName="id" />
                    <div class="form-group">
                        <label class="control-label col-md-4" for="email">{{ 'Account.Email' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="email" autocomplete="off" type="text" class="form-control"
                                formControlName="email" placeholder="{{ 'Account.Email' | translate }}" />
                            <!-- <div class="col-md-8">{{amphitheater?.nameClassroom}}</div> -->
                            <small class="error"
                                *ngIf="accountForm.get('email').invalid && (accountForm.get('email').touched)">
                                <span *ngIf="accountForm.get('email').errors.required">
                                    {{ 'Message.Required' | translate }}
                                </span>
                                <span
                                    *ngIf="isUpdate===false && !accountForm.get('email').errors.required&&accountForm.get('email').errors.pattern!=null">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span
                                    *ngIf="!accountForm.get('email').errors.required&&accountForm.get('email').errors.maxlength!=null">
                                    {{ 'Message.MaxLength' | translate }} 20
                                </span>
                            </small>
                            <small class="error"
                                *ngIf="!accountForm.get('email').invalid && (accountForm.get('email').touched)">
                                <span *ngIf="accountForm.get('email').value.trim() == ''">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span *ngIf="isUpdate===true && !isEqualOld(accountForm.get('email').value, 'code')">
                                    {{ 'Message.Same' | translate }}
                                </span>
                            </small>
                        </div>
                    </div>
                </div>








                <!-- kích cỡ -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="size" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="size">{{ 'Classroom.Size' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input id="size" autocomplete="off" type="text" class="form-control"
                                                formControlName="size"
                                                placeholder="{{ 'Classroom.Size' | translate }}" />
                                            <div class="col-md-8">{{amphitheater?.nameClassroom}}</div>
                                            <small class="error"
                                                *ngIf="classroomForm.get('size').invalid && (classroomForm.get('size').touched)">
                                                <span *ngIf="classroomForm.get('size').errors.required">
                                                    {{ 'Message.Required' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===false && !classroomForm.get('size').errors.required&&classroomForm.get('size').errors.pattern!=null">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="!classroomForm.get('size').errors.required&&classroomForm.get('size').errors.maxlength!=null">
                                                    {{ 'Message.MaxLength' | translate }} 20
                                                </span>
                                            </small>
                                            <small class="error"
                                                *ngIf="!classroomForm.get('size').invalid && (classroomForm.get('size').touched)">
                                                <span *ngIf="classroomForm.get('size').value.trim() == ''">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===true && !isEqualOld(classroomForm.get('size').value, 'code')">
                                                    {{ 'Message.Same' | translate }}
                                                </span>
                                            </small>
                                        </div>
                                    </div>
                                </div> -->




                <!-- chức năng -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="idClassroom" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="chucNang">{{ 'Classroom.Functions' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input id="chucNang" autocomplete="off" type="text" class="form-control"
                                                formControlName="chucNang"
                                                placeholder="{{ 'Classroom.Functions' | translate }}" />
                                            <div class="col-md-8">{{amphitheater?.nameClassroom}}</div>
                                            <small class="error"
                                                *ngIf="classroomForm.get('chucNang').invalid && (classroomForm.get('chucNang').touched)">
                                                <span *ngIf="classroomForm.get('chucNang').errors.required">
                                                    {{ 'Message.Required' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===false && !classroomForm.get('chucNang').errors.required&&classroomForm.get('chucNang').errors.pattern!=null">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="!classroomForm.get('chucNang').errors.required&&classroomForm.get('chucNang').errors.maxlength!=null">
                                                    {{ 'Message.MaxLength' | translate }} 20
                                                </span>
                                            </small>
                                            <small class="error"
                                                *ngIf="!classroomForm.get('chucNang').invalid && (classroomForm.get('chucNang').touched)">
                                                <span *ngIf="classroomForm.get('chucNang').value.trim() == ''">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===true && !isEqualOld(classroomForm.get('chucNang').value, 'code')">
                                                    {{ 'Message.Same' | translate }}
                                                </span>
                                            </small>
                                        </div>
                                    </div>
                                </div> -->


                <div class="col-md-6" *ngIf="isUpdate===true">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="active">{{'Account.Status'|translate}}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input type="hidden" required>
                            <select class="form-control" formControlName="active" autofocus>
                                <option *ngFor="let status of listStatus" [value]="status.id">
                                    {{status.name}}</option>
                            </select>
                            <small class="error" *ngIf="accountForm.get('active').invalid 
                                  && (accountForm.get('active').touched)">
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!isValidForm()">{{ 'Common.Save' | translate }}</button>
                <button type="button" class="btn default" (click)="goBack()">
                    <i class="fa fa-undo" aria-hidden="true"></i>{{ 'Common.Back' | translate }}</button>
            </div>
        </form>
    </div>
</div>