<!-- BEGIN SIDEBAR -->
<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false"
	data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
	<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<li class="sidebar-toggler-wrapper hide">
		<div class="sidebar-toggler">
			<span></span>
		</div>
	</li>
	<ng-container>
		<li class="nav-item">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="title">{{ 'SIDEBAR.Category' | translate }}</span>
				<!-- <span class="arrow "></span> -->
			</a>
			<ul class="sub-menu">
				<li class="nav-item" routerLinkActive="active open">
					<a routerLink="/product">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'Product.Title' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/category">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'Category.Title' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/account">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'Account.Title' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/manufacturer">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'Manufacturer.Title' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/order">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'Order.Title' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/operationhistory">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'OperationHistory.Title' | translate }}</a>
				</li>
				
			</ul>
		</li>
		<!-- <li class="nav-item">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
				<span class="title1">{{ 'SIDEBAR.Title1' | translate }}</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li class="nav-item" routerLinkActive="active open">
					<a routerLink="/registrationDK">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'Registration.Title2' | translate }}</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a routerLink="/registrationType">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						{{ 'RegistrationType.Title' | translate }}</a>
				</li>
			</ul>
		</li> -->
	</ng-container>

</ul>
<!-- END SIDEBAR MENU -->
