#product_detail label.error{display:inline-block;color:red;margin-left:5px;}
#subscribe_error{text-align:left;font-size:11px;display:inline-block;}
.required{color:#F00;}
.modal_loading{display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:9000;margin:auto;height:auto;background:url('../images/ajax-loader.gif') 50% 50% no-repeat;}
#topBar >.container >.collapse >ul.navbar_center >li >a{padding:0px 15px;}
#topBar >.container >.collapse >ul.navbar_center{margin-top:15px;}
#topBar >.container >.collapse >ul.navbar-right{margin-top:-30px;}
#products >.container >.row >.col-md-9 >.row >.col-md-6 >.row >.col-md-6 >select{width:100%;height:35px;border:1px solid #ccc;padding-left:10px;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_size >ul >li >a{display:block;height:35px;width:35px;border:2px solid #ccc;text-align:center;line-height:31px;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_color >ul >li >a >img{width:35px;border:2px solid #ccc;}
#but_filter_remove{width:100px;height:30px;border:2px solid #000;font-weight:bold;}
#but_filter_product{width:100px;height:30px;border:2px solid #000;font-weight:bold;}
.left_button_filter{padding-right:10px;float:left;}
#product_detail >.container >.row >.col-md-12 >.box >.right >ul.size_poductDetail >li >ul >li >a{display:block;height:20px;border:1px solid #ccc;text-align:center;line-height:19px;font-size:11px;font-weight:bold;padding:0 8px;}
.product-size-type, #product-size-text{text-transform:uppercase;}
.selected, .active-size, .active-color{border:1px solid #000 !important;}
.font_uppercase{text-transform:uppercase;}
#pay_2 >.container >.row >.col-md-5 >.col-md-12 >.panel >.panel-heading >span{font-weight:normal;text-transform:none;color:red;}
#pay .required_form::-webkit-input-placeholder{color:red;}
#pay .required_form::-moz-placeholder{/Firefox 19+/color:pink;}
#pay .required_form:-ms-input-placeholder{/IE 10+/color:pink;}
#pay .required_form:-moz-placeholder{/Firefox 18-/color:pink;}
#login >.container >.row >.col-md-6 >form >.row >.col-md-8 input[type='text'], #login >.container >.row >.col-md-6 >form >.row >.col-md-8 input[type='password'], #login >.container >.row >.col-md-6 >form >.row >.col-md-8 input[type='email']{height:30px;padding:0 10px;width:200px;outline:none;border:1px solid #ccc;}
#login >.container >.row >.col-md-6 >form >.row >.col-md-8 button{padding:5px;width:200px;}
#login >.container >.row >.col-md-6 >form >.row >.col-md-8 button, #login >.container >.row >.col-md-6 >a{border:1px solid #000;background:#000;color:#fff;font-weight:bold;text-transform:uppercase;font-size:11px;}
#login .alert-warning{padding:0px;border:0px;background:none;color:red;}
#login .alert-dismissible .close{right:0;opacity:1;color:red;font-weight:normal;}
.two-fields{width:48% !important;float:left;padding-right:10px;}
.list-style-type-none, .list-style-type-none li{list-style-type:none;}
.but_pay_cart{width:100px;height:35px;background:#000;color:#fff;border:0px;margin:5px 0px 15px 0px;}
small, .small{font-size:85%;}
.one-fields{width:96% !important;}
.one-fields input, .one-fields textarea{width:99% !important;}
.order-info-box{background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x;border:1px solid #e5e5e5;padding:12px 15px;margin:15px 0 0;}
#register label{display:inline-block;width:150px;}
#register input[type="text"], #register input[type="password"]{display:inline-block;width:200px;}
#register label.error{display:inline-block;color:red;width:200px;}
a:hover, a:focus{color:#23527B;text-decoration:underline;}
#register >.container >.row >form >.col-md-6 >h4{font-weight:bold;font-size:13px;margin-bottom:30px;}
#register >.container >.row >form >.col-md-6 >.row{margin-bottom:15px;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >p{margin-bottom:5px;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >p.img_capcha{margin-top:15px;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >p.img_capcha img{border:1px solid #ccc;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >p >b{font-weight:bold;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >p >b >span{color:red;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >input[type='text'], #register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >input[type='email'], #register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >input[type='password'], #register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >select{width:100%;height:30px;padding:0 10px;outline:none;background:#fff;border:1px solid #ccc;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >textarea{width:100%;background:#fff;border:1px solid #ccc;height:80px;outline:none;padding:5px 10px;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 button[type='submit']{width:200px;height:35px;border:2px solid #000;background:#fff;text-transform:uppercase;font-weight:bold;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 button[type='submit']:hover{background:#000;color:#fff;}
input[disabled]{background-color:#eee !important;opacity:1;}
.form_reg_input p{padding-bottom:5px;}
#pay >.container >.row >.col-md-7 >form >.row, #pay >.container >.row >.col-md-7 >form >.pay_hidden_ts_main >.row{margin-bottom:15px;}
#pay >.container >.row >.col-md-7 >form >.pay_hidden_ts, #pay >.container >.row >.col-md-7 >form >.pay_hidden_ts_main >.pay_hidden_ts_1{display:none;}
#pay_2 >.container >.row >.col-md-5 >.col-md-12 >.panel >.panel-body{text-align:center;}
#pay_2 >.container >.row >.col-md-5 >.col-md-12 >.panel >.panel-body input{width:50%;height:30px;font-size:11px;padding:0 10px;outline:none;font-weight:normal;margin-right:5px;}
#pay_2 >.container >.row >.col-md-5 >.col-md-12 >.panel >.panel-body button{width:20%;}
#pay_2 >.container >.row >.col-md-7 >form >ul >li >.input-group button{margin-right:5px;}
#pay_2 >.container >.row >.col-md-7 >form >ul >li >#box_pay_milys input{height:30px;border:1px solid #000;border-radius:0px;margin-right:5px;}
#pay_2 >.container >.row >.col-md-7 >form >ul >li >#box_pay_milys button{width:10%;height:30px;background:#000;color:#fff;border:1px solid #000;font-size:11px;font-weight:bold;text-transform:uppercase;}
.a-right{text-align:right;}
.art_h1{padding:20px 0px 20px 0px;font-size:20px}
#nav_mobile .menu-list >.login_mobile{padding:10px 15px 10px 15px;border-bottom:1px dotted #ccc;margin-bottom:10px;float:left;width:100%;text-align:center;font-weight:bold;}
#nav_mobile .menu-list >.login_mobile >a{letter-spacing:1px;text-align:right;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-body form input, #product_detail #myModal_mail .modal-dialog .modal-content .modal-body form textarea{width:230px;}
.acb{display:none !important;opacity:0 !important;}
.msg_success{color:green;}
.f-left{float:left;}
.title_h3 >.container >h3{border-bottom:none;padding:0;}
.price_productDetail small{font-size:100%;}
input, select, button{outline:none;}
select, input, textarea{border:1px solid #ccc;background:#fff;box-shadow:none;}
textarea{padding:5px;}
#infouser input, #infouser select{border-radius:0px !important;box-shadow:none !important;}
#infouser label{margin-bottom:5px;}
#pay_2 > .container > .row > .col-md-7 > form .row > .col-md-12 button{margin-bottom:10px;}
@media (max-width:736px){
#lookbook >.container >.row >.col-md-12{padding-left:0px;padding-right:0px;}
#register >.container >.row >form >.col-md-6 >.row >.col-xs-12{margin-bottom:15px;}
#dieuhuong{display:none;}
.two-fields{width:50%;}
#contact >.container >.row >.col-md-6 >ul >li >.contact_phone_hide_2 >form >.row >.col-md-12 input,
#contact >.container >.row >.col-md-6 >ul >li >.contact_phone_hide_2 >form >.row >.col-md-6 input,
#contact >.container >.row >.col-md-6 >ul >li >.contact_phone_hide_2 >form >.row >.col-md-12 textarea{margin-bottom:15px;}
#contact >.container >.row >.col-md-6 >ul >li >.contact_phone_hide_2 >form >.row{margin-bottom:0px;}
#pay_2 > .container > .row > .col-md-7 > form .row > .col-md-12 button{background:#000;color:#fff;margin-bottom:10px;}
}
#product_detail > .container > .row > .col-md-12 > .box > .right > ul.size_poductDetail > li > ul > li > a{width:inherit;}
#news .art_h{padding:0px 0px 10px 0px;font-size:18px;line-height:25px;color:#000;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_size >ul >li >a{border:1px solid #ccc;width:inherit;height:inherit;line-height:inherit;padding:0px 8px;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_color >ul >li >a >img{width:30px;border:1px solid #ccc;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_color >ul >li >a{width:30px;}
#cart button.glyphicon-repeat{background:none;box-shadow:none;border:0px;}
#lookbook{padding-bottom:100px;}
a:hover{color:#000;text-decoration:none;}
#product_detail >.container >.row >.col-md-12 >.box >.right >form >p.hiddents_poductDetail span{color:red;font-size:12px;}
#product_detail >.container >.row >.col-md-12 >.box >.right >.ID_productDetail{margin-bottom:30px;color:#999;font-size:11px;}
#product_detail >.container >.row >.col-md-12 >.box >.right >h4{font-size:17px;font-weight:bold;color:#000;margin-bottom:0px;}
#product_detail >.container >.row >.col-md-12 >.box >.right >.price_productDetail >span.price_productDetail_main{font-size:19px;font-weight:bold;}
#product_detail >.container >.row >.col-md-12 >.box >.right >form >p.hiddents_poductDetail span{font-size:12px;}
.login_mobile >p{margin-bottom:0px;}
#but_filter_remove, #but_filter_product{background:#fff;}
#but_filter_remove:hover, #but_filter_product:hover{background:#000;color:#fff;}
#product_detail >.container >.row >.col-md-12 >.box >.right >.ID_productDetail{margin-bottom:30px;color:#999;font-size:11px;}
#product_detail >.container >.row >.col-md-12 >.box >.right >.price_productDetail >span.price_productDetail_main{font-size:19px;font-weight:bold;}
#product_detail >.container >.row >.col-md-12 >.box >.right >form >p.hiddents_poductDetail span{font-size:12px;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-title{font-size:15px;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-body form button{font-weight:bold;}
#product_detail >.container >.row >.col-md-12 >.box >.right >form >p.value_poductDetail >input{font-size:11px;}
.elastislide-carousel ul li a{box-shadow:none;}
.elastislide-carousel ul li.active a{border:inherit;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_size >ul >li >a{font-size:11px;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_color >ul >li >a{height:30px;}
#products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >.title_product{margin-bottom:0px;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.col-md-6 >ul.filter_products_color >li{height:32px;}
#products >.container >.row >.col-md-9 >.row >.col-md-6 >.row >.filter_show{border:0px;padding-left:0px;}
#products >.container >.row >.col-md-9 >.row >.col-md-6 >.row >.filter_show >.col-md-12{border:1px solid #ccc;height:35px;padding-right:7px;}
#products >.container >.row >.col-md-9 >.row >.col-md-6 >.row >.filter_show >.col-md-12 >span.caret{margin-top:14px;}
#products >.container >.row >.col-md-9 >.row >.col-md-6 >.row >.col-md-6:last-child{padding-left:0px;}
#products >.container >.row >.col-md-9 >.row >.filter_hide >.col-md-12 >.row >.filter_size >ul >li >a{font-size:11px;font-weight:bold;}
#pay >.container >.row >.col-md-7 >form .row >.col-md-6 >input, #pay >.container >.row >.col-md-7 >form .row >.col-md-6 >select{padding:0 5px}
#pay >.container >.row >.col-md-7 >form .row >.col-md-6 >textarea{padding:5px;}
.form_reg_input p{margin-bottom:0px;}
#pay >.container >.row >.col-md-7 >form .row >.col-md-6 p, #pay >.container >.row >.col-md-7 >form .row >.col-md-12 p{font-weight:bold;margin-bottom:5px;}
#pay >.container >.row >.col-md-7 >form >.row, #pay >.container >.row >.col-md-7 >form >.pay_hidden_ts_main >.row{margin-bottom:0px;}
#news > .container > .row > .col-md-9 > ul > li > ul > li.col-md-9 > h5{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;}
@media (max-width:768px){.elastislide-carousel{height:370px;}
}
@media (max-width:736px){footer{padding-top:50px;margin-top:3px;}
#register >.container >.row >form >.col-md-6 >.row{margin-bottom:0px;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 >p >b{font-size:12px;}
#register >.container >.row >form >.col-md-6 >h4{margin-bottom:10px;}
#register >.container >.row >form >.col-xs-12 >.row >.col-xs-12 button[type='submit']{background:#000;color:#fff;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-body form input, #product_detail #myModal_mail .modal-dialog .modal-content .modal-body form textarea{width:100%;margin-top:5px;margin-bottom:10px;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-body img{margin-top:10px;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-title{font-size:14px;text-transform:inherit;}
#form_cart_mail >.row >.col-xs-3, #form_cart_mail >.row >.col-xs-9{width:100%;text-align:left}
#but_filter_remove, #but_filter_product{background:#000;color:#fff;}
#product_detail > .container > .row > .col-md-12 > .box > .right > form > p.button_poductDetail > button{background:#000;color:#fff;}
.elastislide-vertical{width:22%;max-width:inherit !important;}
.elastislide-vertical ul li{max-width:inherit !important;max-height:inherit !important;}
#products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >.title_product a{font-weight:normal;letter-spacing:1px;}
#pay > .container > .row > .col-md-7 > form .row > .col-md-12 button{margin-bottom:15px;}
}
@media (max-width:676px){#product_detail nav span{font-size:14px;}
.elastislide-carousel{height:325px !important;}
}
@media (max-width:640px){.elastislide-carousel{height:305px !important;}
}
@media (max-width:568px){.elastislide-carousel{height:260px !important;}
}
@media (max-width:414px){.elastislide-carousel{height:360px !important;}
}
@media (max-width:375px){.elastislide-carousel{height:320px !important;}
}
@media (max-width:360px){.elastislide-carousel{height:300px !important;}
}
@media (max-width:320px){.elastislide-carousel{height:250px !important;}
}
@media (max-width:568px){.elastislide-carousel{height:260px !important;}
}
#pay >.container >.row >.col-md-7 >form .row >.col-md-12 button, #pay_2 >.container >.row >.col-md-7 >form .row >.col-md-12 button{margin:15px 0;}
.elastislide-carousel ul li.active a{border:4px solid #fff;}
.elastislide-vertical{height:inherit !important;}
.info-about td{padding:10px;}
#topBar >.container >.collapse >ul.navbar-right >li >form >.input-group input{height:25px;margin-top:8px;}
.sale_products{position:absolute;top:20px;right:35px;font-weight:bold;color:#fff;font-size:20px;letter-spacing:1px;width:80px;height:80px;line-height:80px;text-align:center;background:#d21b1b;border-radius:50%;}
small a:hover{text-decoration:underline;}
#product_detail >.container >.row >.col-md-12 >.box >.right >ul >li >ul >li{position:relative;}
#product_detail >.container >.row >.col-md-12 >.box >.right >ul.color_poductDetail >li >ul >li >a >span{position:absolute;top:0;left:0;}
#product_detail >.container >.row >.col-md-12 >.box >.right >ul.color_poductDetail >li >ul >li >a >span >img{width:29px;}
#product_detail >.container >.row >.col-md-12 >.box >.right >ul.size_poductDetail >li >ul >li >a >span >img{height:19px;position:absolute;top:0;left:50%;transform:translate(-50%, 0%);}
.sale_products_small{top:10px;right:10px;width:40px;height:40px;line-height:40px;font-size:11px;}
@media (max-width:736px){#product_detail > .container > .row > .col-md-12 > .box > .right > ul.color_poductDetail > li > ul > li > a >span >img{width:24px;}
#product_detail >.container >.row >.col-md-12 >.box >.right >ul.size_poductDetail >li >ul >li >a{height:20px;}
.sale_products_small{top:10px;right:10px;font-size:12px;width:40px;height:40px;line-height:40px;}
}
.bg_x{display:none;}
.active_imgEnd{-webkit-filter:grayscale(80%);/Safari 6.0 - 9.0/filter:grayscale(80%);}
@media (max-width:480px){.sale_products{top:5px;right:10px;width:30px;height:30px;line-height:30px;font-size:10px;}
}
#products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 .sale_products{height:50px;width:50px;line-height:50px;right:20px;top:10px;}
@media (max-width:500px){#product_detail #myModal_mail .modal-dialog .modal-content .modal-body form .row >.col-md-4{margin-bottom:10px;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-body form .row >.col-md-4, #product_detail #myModal_mail .modal-dialog .modal-content .modal-body form .row >.col-md-8{width:100% !important;text-align:left;}
#product_detail #myModal_mail .modal-dialog .modal-content .modal-body form .row >.col-md-8 >input, #product_detail #myModal_mail .modal-dialog .modal-content .modal-body form .row >.col-md-8 >textarea{width:100%;}
}
#news p img{}
#products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >.price_product, #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >.price_product{height:20px;}
.first_letter_upper{text-transform:capitalize;}
#topBar >.container >.collapse >ul.navbar-right >li >ul >h3{margin-top:0px;}
#back-to-top{position:fixed;bottom:40px;right:40px;z-index:9999;width:40px;height:40px;text-align:center;line-height:35px;background:#000;color:#fff;cursor:pointer;border:1px solid #fff;border-radius:2px;text-decoration:none;display:none;font-size:20px;}
.show_top_ivy{display:block !important;}
@media (max-width:736px){#nav_mobile .nav-side-menu ul:not(collapsed) .arrow:before, #nav_mobile .nav-side-menu li:not(collapsed) .arrow:before{padding-right:15px;font-size:14px;}
#nav_mobile .nav-side-menu > .menu-list >ul >li >a{font-size:14px;}
}
#chat_fb_ts{width:auto !important;float:right !important;padding:0 10px !important;background:none !important;color:#000 !important;border:0px !important;margin-bottom:5px;font-size:15px !important;}
#chat_fb_ts:hover{cursor:pointer;}
#cfacebook .fchat{height:310px;}
@media (max-width:736px){#nav_mobile .nav-side-menu > .menu-list >ul >ul a{font-weight:bold;display:block;}
#nav_mobile .nav-side-menu li{/padding-left:0px;/padding:2px 0px;}
#phantrang{width:100% !important;text-align:center;}
#phantrang >ul >li >a{font-size:15px;}
}
#products >.container >.row >.col-md-3 >.nav-side-menu{margin-top:10px;}
#topBar >.container >.collapse >ul.navbar-right >li >form >.input-group input{border-bottom:1px solid rgba(0,0,0,1);width:100px;color:#000;}
#topBar >.container >.collapse >ul.navbar-right >li >form >.input-group input::-webkit-input-placeholder{/Chrome/Opera/Safari/color:#000;}
#topBar >.container >.collapse >ul.navbar-right >li >form >.input-group input::-moz-placeholder{/Firefox 19+/color:#000;}
#topBar >.container >.collapse >ul.navbar-right >li >form >.input-group input:-ms-input-placeholder{/IE 10+/color:#000;}
#topBar >.container >.collapse >ul.navbar-right >li >form >.input-group input:-moz-placeholder{/Firefox 18-/color:#000;}

.footer_bot {
     margin-bottom:0px !important;
 }
.footer_bot >p {
    margin-top:10px !important;
    background:#f8f8f8;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom: 0px;
}

/* fixed loi anh hien thi chieu cao cua san pham */
#products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a, #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >a {
    display:block;
    overflow:hidden;
}
.last_products >.row >.col-md-6 >a {
    display:initial !important;
}
#products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
    max-height:580px;
}
#products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >a {
    max-height:279px;
}

@media (min-width: 1200px) {
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 706px;
    }
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >a {
        max-height: 338px;
    }
}
@media (max-width: 1024px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 580px;
    }
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >a {
        max-height: 274px;
    }
}
@media (max-width: 1000px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 439px;
    }
}
@media (max-width: 768px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 383px;
    }
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-3 >a {
        max-height: 245px;
    }
}
@media (max-width: 736px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 514px;
    }
    footer {
        padding-top: 50px;
        margin-top: -4px !important;
    }
    #back-to-top {
        opacity:.8;
    }
}
@media (max-width: 732px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 474px;
    }
}
@media (max-width: 667px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 462px;
    }
}
@media (max-width: 640px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 442px;
    }
}
@media (max-width: 600px){
    #products >.container >.row >.col-md-9 >.row >.col-md-12 >.row >.col-md-6 >a {
        max-height: 413px;
    }
}
@media (max-width: 568px) {
    #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
        max-height: 388px;
    }

    .elastislide-carousel {
        height: 340px !important;
    }
}
    @media (max-width: 533px) {
        #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
            max-height: 362px;
        }
    }
    @media (max-width: 480px) {
        #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
            max-height: 323px;
        }
    }
    @media (max-width: 416px) {
        #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
            max-height: 274px;
        }
    }
    @media (max-width: 384px) {
        #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
            max-height: 257px;
        }
    }
    @media (max-width: 376px) {
        #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
            max-height: 250px;
        }
    }
    @media (max-width: 360px) {
        #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
            max-height: 239px;
        }
    }
    @media (max-width: 320px) {
        #products > .container > .row > .col-md-9 > .row > .col-md-12 > .row > .col-md-6 > a {
            max-height: 209px;
        }
    }

/** menu for lookbook */
.nav >li >ul >li >ul {margin-bottom: 10px; width: auto;}
.navbar_center >li >ul >li >ul >li >a {display: block; padding: 2.5px 20px; width: auto; font-size: 12px;}
.nav >li >ul >li >ul >li >a:hover {color: #000; background: #f2f2f2;}

/** show hang ton **/
p.products_detail_end_text {font-weight:bold; letter-spacing:1px; margin-bottom:15px;}
#accordion {margin-top:15px;}
#accordion >.panel, #accordion >.panel >.panel-heading, #accordion >.panel .panel-body {background:none;border:none !important; border-top:0px; box-shadow:none; font-size:12px; padding-left:0px;}
#accordion >.panel .panel-body {padding-top:0px;}
#accordion >.panel .panel-body ul li img {width:20px; margin-right:5px;}
#accordion >.panel .panel-body ul li {font-weight:normal;}
#accordion >.panel >.panel-heading {padding-top:0px; padding-bottom:0px; margin-bottom:15px;}
#accordion >.panel >.panel-heading >.panel-title {font-size:13px;}
.link-showrom{
    padding: 8px 20px;
    border: 2px solid #39a51c;
    background: #fff;
    font-size: 14px;
    text-transform: uppercase;
    color: #39a51c;
    text-decoration: none;
}

/** qrcode, barcode  **/
.bar_QA img:hover {cursor: pointer;}
#img_1 .modal-content, #img_2 .modal-content {background: none; box-shadow: none; border: none;}
#img_1 .modal-content img, #img_2 .modal-content img {border: 1px solid #ccc;}
#img_1 .close, #img_2 .close {font-size: 40px; opacity: 1; border: none; text-shadow: none;}
#img_1 .modal-content .close {position: absolute; top: 0px; right: 10px; padding: 6px 2px 5px 3px !important; background: #fff !important; border-radius: 50%; border: 1px solid #ccc !important; line-height: inherit !important;}
#img_2 .modal-content .close {position: absolute; top: 0px; right: 85px; padding: 6px 2px 5px 3px !important; background: #fff !important; border-radius: 50%; border: 1px solid #ccc !important; line-height: inherit !important;}


/* fixed layout site san pham */
.active-color >a >img, .active-size >a {border-radius: 50%;}
.fixed-header {position: fixed; top: 65px !important;}
a.link-showrom {
    border: 0px;
    border-bottom: 2px solid rgb(191, 138, 73);
    padding: 3px 0px;
    color: rgb(191, 138, 73);
}
a.link-showrom:hover i {
    border-bottom: 2px solid rgb(242, 202, 128);
    color: rgb(242, 202, 128);
}

.marker {
    background-color: Yellow;
}

/* hide footer if is mobile */
@media only screen and (max-device-width : 640px) {
    /* Styles */
    .footer_bot{
        display:  none;
    }
   
}

#product_detail #owl-demo_2 .item{margin:5px;}
#product_detail #owl-demo_2 .item img{width:100%;margin-bottom:10px !important;}
#product_detail #owl-demo_2 .item .title_proDetail{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;}.title_proDetail >p >span{font-size:11px;text-decoration:line-through;color:#666;}
#product_detail #owl-demo_2 .item .title_proDetail a{font-weight:bold;color:#333;font-size:11px;text-transform:uppercase;}
#product_detai #owl-demo_2 .item .title_proDetail p{font-size:11px;margin-top:5px;}
#product_detail #owl-demo_2 .item .title_proDetail button{width:100%;background:#fff;border:1px solid #ccc;padding:3px;transition:all .3s;border-radius:3px;margin-top:5px;font-size:11px;}
#product_detail #owl-demo_2 .item .title_proDetail button:hover{background:#000;color:#fff;}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 28%;
    margin-left: -25px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 28%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-prev i, .owl-next i {transform : scale(1,1); color: #ccc;}

.owl-nav .disabled{ display: none !important;}

.filter_color select{
    border: 1px solid #ccc;
    height: 35px;
    padding-right: 7px;
}

.readonly{
    background-color: #ccc;
}

/* fixed transparent color */
.zm-viewer{
    background-color: #fff !important;
    background-image: none;
}

.pt-5{padding-top: 5rem;}
.pb-5{padding-bottom: 5rem;}
.mart30{margin-top: 30px;}
.marb30{margin-bottom: 30px;}
.d-flex{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;}
.flex-row{-webkit-box-orient:horizontal!important;-webkit-box-direction:normal!important;-ms-flex-direction:row!important;flex-direction:row!important;}
.flex-row-reverse{-webkit-box-orient:horizontal!important;-webkit-box-direction:reverse!important;-webkit-flex-direction:row-reverse!important;-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important;}
.flex-column{flex-direction:column!important;}
.flex-row-center {display:flex;flex-direction:row;align-items:center;justify-content:center;}
p.same-key{
    font-weight: bold;
    text-transform: uppercase;
}

.nw890{
    width: 980px;
    margin: 0 auto;
}

.nw890 p, #fullpage p{
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 17px;
    line-height: 27px;
    font-family: NotoSerif-BoldItalic;
    color: #555;
    padding-left: 10px;
    padding-right: 10px;
}

#fullpage{
    margin-top: -90px;
}

/* vnpay qr */
.vnpay-container{
    -webkit-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
    -moz-box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);
     border-radius: 5px 5px 5px 5px;
     box-shadow: 0px 5px 21px 0px rgba(128, 128, 128, 0.2);

    min-height: 456px;
    overflow: hidden;
}

.vnpay-left {
background-color: #065ead;
position: relative;
padding-right: 0px;
color: #ffffff;
border-radius: 5px 0 0 5px;
float: left;
}

.vnpay-right{
padding-left: 0px;

}

.vnpay-content{
position: relative;
background-color: #fff;
display: block;
border-radius: 0 5px 5px 0;
padding: 20px;
}

.vnpay-header{
padding-bottom: 15px;
overflow: hidden;
border-bottom: 1px solid #d7e2e7;
text-align: left;
}

.vnpay-qrcode{
text-align: center;
}

@media (max-height: 700px){
.vnpay-image-qr-code {
    /*height: 200px;*/
}
}

@media (max-height: 850px){
.vnpay-image-qr-code {
    height: 230px;
}
}

@media (max-height: 850px) {
.vnpay-info-qr-code {
    text-align: center;
    color: #101010;
    font-size: 10pt;
}
}
@media (max-height: 700px){
    .vnpay-info-box {
        margin-top: 10%;
    }
}
    @media (max-height: 850px) {
        .info-box {
            margin-top: 25%;
        }

        .vnpay-info-box {
            margin-left: 25px;
            margin-right: 20px;
            margin-top: 15%;
            min-height: 550px;
            text-align: left;
        }
    }
.vnpay-info-qr-code {
text-align: center;
color: #101010;
font-size: 11pt;
}

.vnpay-logo-image-size {
/*max-width: 270px !important;*/
/*height: 80px;*/
    opacity: 0.98;
    height: 45px;
}

.vnpay-receipt {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    height: 15%;
}

.vnpay-receipt > span {
    font-weight: 500;
    font-size: 21px;
}

.vnpay-entry {
    border-bottom: 1px solid #ccc;
    height: 15%;
    overflow: hidden;
    padding-top: 15px;
}

.vnpay-entry > div {
    font-weight: 400;
    font-size: 12pt;
    line-height: 26px;
    margin-top: 0px !important;
    float: left;
    padding-bottom: 15px;
}

.vnpay-entry > i {
    margin-top: 4px;
    margin-right: 13px;
    float: left;
    color: #b4d8fc;
}

vnpay-span {
    font-weight: 500;
    font-size: 16px;
}

.vnpay-entry:last-child {
    border-bottom: none;
}

.vnpay-scan-qr-code {
    text-align: center;
    color: #065ead;
    padding-top: 25px;
}

.vnpay-qr-code{
    text-align: center;
}

.vnpay-qr-code img{
    margin: 0 auto;
}