/* You can add global styles to this file, and also import other style files */

@import url('./assets/css/font.css');
@import url('./assets/css/font-awesome.css');
@import url('./assets/css/normalize.css');
@import url('./assets/css/flexslider.css');
@import url('./assets/css/jquery.nouislider.css');
@import url('./assets/css/jquery.popupcommon.css');
@import url('./assets/css/style.css');
@import url('./assets/css/style-dark.css');
@import url('./assets/css/style-gray.css');
@import url('./assets/css/res-menu.css');
@import url('./assets/css/responsive.css');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: 'Helvetica', 'Arial', Sans-Serif;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}

a.btn.btn-blue.btn-take-coupon {
    color: white;
    font-weight: bold;
}