    /* You can add global styles to this file, and also import other style files */
    
    @import url('./assets/css/font.css');
    @import url('./assets/css/font-awesome.css');
    @import url('./assets/css/normalize.css');
    @import url('./assets/css/flexslider.css');
    @import url('./assets/css/jquery.nouislider.css');
    @import url('./assets/css/jquery.popupcommon.css');
    @import url('./assets/css/style.css');
    @import url('./assets/css/style-dark.css');
    @import url('./assets/css/style-gray.css');
    @import url('./assets/css/res-menu.css');
    @import url('./assets/css/responsive.css');
    @import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
    @import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
    a {
        color: #000;
        text-decoration: none;
    }
    
    body {
        font-family: 'Helvetica', 'Arial', Sans-Serif;
        font-size: 12px;
        line-height: 18px;
        color: #000;
    }
    
    a.btn.btn-blue.btn-take-coupon {
        color: white;
        font-weight: bold;
    }
    
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: none !important;
    }
    
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: none !important;
        border-color: none !important;
    }
    
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: none !important;
        border-color: none !important;
    }
    
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: none !important;
        border-color: none !important;
    }
    
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: none !important;
        border-color: none !important;
    }
    
    .btn-primary.focus,
    .btn-primary:focus {
        color: #fff;
        background-color: none !important;
        border-color: none !important;
        box-shadow: none !important;
    }
    
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        border-color: none !important;
        box-shadow: none !important;
    }
    
    .gray .coupon-item .coupon-price:hover {
        color: #ee3e80;
    }
    
    .btn-secondary.focus,
    .btn-secondary:focus {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
        box-shadow: none !important;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    
    .mat-dialog-container#mat-dialog-0 {
        width: 500px !important;
        height: 200px;
        padding: 0px;
        overflow: hidden;
    }
    
    h1#mat-dialog-title-0 {
        border-bottom: 1px solid black;
        padding: 15px 20px;
        font-weight: bold;
        margin: 0;
    }
    
    .mat-dialog-content {
        margin: 15px 0 0 0 !important;
        padding: 0px 15px !important;
        border-bottom: 1px solid gray;
        font-size: 15px;
        height: 70px;
        line-height: 70px;
        overflow: hidden !important;
    }
    
    .mat-dialog-content p {
        margin: 0;
    }
    
    .mat-dialog-actions {
        text-align: right !important;
        padding: 0 !important;
        margin: 7px 0 0 0 !important;
        min-height: auto !important;
        display: block !important;
    }
    
    button.btn.ng-star-inserted {
        margin-right: 10px !important;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid gray;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }