<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/home">{{ 'SIDEBAR.Directory' | translate }}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/category">{{ 'SIDEBAR.Category' | translate}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li *ngIf="isUpdate===true">
            <a href="#">{{ 'Common.Update' | translate}}</a>
        </li>
        <li *ngIf="isUpdate===false">
            <a href="#">{{ 'Common.Create' | translate}}</a>
        </li>
    </ul>
</div>
<div style="padding:10px;"></div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal align-middle" [formGroup]="categoryForm" (ngSubmit)="submit(categoryForm.value)">
            <div class="row">
                <!-- input  classroom -->
                <div class="col-md-6">
                    <input id="id" type="hidden" class="form-control" formControlName="id" />
                    <div class="form-group">
                        <label class="control-label col-md-4" for="name">{{ 'Category.Name' | translate }}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input id="name" autocomplete="off" type="text" class="form-control" formControlName="name"
                                placeholder="{{ 'Category.Name' | translate }}" />
                            <!-- <div class="col-md-8">{{amphitheater?.nameClassroom}}</div> -->
                            <small class="error"
                                *ngIf="categoryForm.get('name').invalid && (categoryForm.get('name').touched)">
                                <span *ngIf="categoryForm.get('name').errors.required">
                                    {{ 'Message.Required' | translate }}
                                </span>
                                <span
                                    *ngIf="isUpdate===false && !categoryForm.get('name').errors.required&&categoryForm.get('name').errors.pattern!=null">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span
                                    *ngIf="!categoryForm.get('name').errors.required&&categoryForm.get('name').errors.maxlength!=null">
                                    {{ 'Message.MaxLength' | translate }} 20
                                </span>
                            </small>
                            <small class="error"
                                *ngIf="!categoryForm.get('name').invalid && (categoryForm.get('name').touched)">
                                <span *ngIf="categoryForm.get('name').value.trim() == ''">
                                    {{ 'Message.CodeInvalid' | translate }}
                                </span>
                                <span *ngIf="isUpdate===true && !isEqualOld(categoryForm.get('name').value, 'code')">
                                    {{ 'Message.Same' | translate }}
                                </span>
                            </small>
                        </div>
                    </div>
                </div>

                <small class="error" *ngIf="categoryForm.get('name').invalid && (categoryForm.get('name').touched)">
                    <span
                        *ngIf="categoryForm.get('name').errors.required||categoryForm.get('name').errors.pattern!=null">
                        {{ 'Message.Required' | translate }}
                    </span>
                    <span
                        *ngIf="!categoryForm.get('name').errors.required&&categoryForm.get('name').errors.maxlength!=null">
                        {{ 'Message.MaxLength' | translate }} 50
                    </span>
                </small>
                <small class="error" *ngIf="!categoryForm.get('name').invalid && (categoryForm.get('name').touched)">
                    <span *ngIf="isUpdate===true && !isEqualOld(categoryForm.get('name').value, 'name')">
                        {{ 'Message.Same' | translate }}
                    </span>
                </small>
            </div>

            <div class="row">
                <!-- <div class="col-md-6" *ngIf="!isUpdate===true">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="statuss">{{'Category.Status'|translate}}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="hidden" required>
                                            <select class="form-control" formControlName="statuss" autofocus>
                                                <option *ngFor="let status of listStatus" [value]="status.id">
                                                    {{status.name}}</option>
                                            </select>
                                            <small class="error" *ngIf="categoryForm.get('statuss').invalid 
                                          && (categoryForm.get('statuss').touched)">
                                            </small>
                                        </div>
                                    </div>
                                </div> -->




                <!-- input update tên giảng đường -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="idClassroom" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="amphitheater">{{ 'Classroom.Amphitheater' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <ng-select [disabled]="false"
                                                [active]="indexAmphitheaterSelection!=null?[amphitheaterSelections[indexAmphitheaterSelection]]:''"
                                                [disabled]="disabled" [items]="amphitheaterSelections"
                                                (selected)="amphitheaterChanged($event?.id)"
                                                (removed)="refreshAmphitheaterValue($event)"
                                                placeholder="{{ 'Classroom.Amphitheater' | translate }}  "
                                                ngDefaultControl>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div> -->

                <!-- kí hiệu -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="idClassroom" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="symbol">{{ 'Classroom.Symbol' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input id="symbol" autocomplete="off" type="text" class="form-control"
                                                formControlName="symbol"
                                                placeholder="{{ 'Classroom.Symbol' | translate }}" />
                                            <div class="col-md-8">{{amphitheater?.nameClassroom}}</div>
                                            <small class="error"
                                                *ngIf="classroomForm.get('symbol').invalid && (classroomForm.get('symbol').touched)">
                                                <span *ngIf="classroomForm.get('symbol').errors.required">
                                                    {{ 'Message.Required' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===false && !classroomForm.get('symbol').errors.required&&classroomForm.get('symbol').errors.pattern!=null">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="!classroomForm.get('symbol').errors.required&&classroomForm.get('symbol').errors.maxlength!=null">
                                                    {{ 'Message.MaxLength' | translate }} 20
                                                </span>
                                            </small>
                                            <small class="error"
                                                *ngIf="!classroomForm.get('symbol').invalid && (classroomForm.get('symbol').touched)">
                                                <span *ngIf="classroomForm.get('symbol').value.trim() == ''">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===true && !isEqualOld(classroomForm.get('symbol').value, 'code')">
                                                    {{ 'Message.Same' | translate }}
                                                </span>
                                            </small>
                                        </div>
                                    </div>
                                </div>
 -->



                <!-- số lượng -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="idClassroom" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="amount">{{ 'Classroom.Amount' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input id="amount" autocomplete="off" type="text" class="form-control"
                                                formControlName="amount"
                                                placeholder="{{ 'Classroom.Amount' | translate }}" />
                                            <div class="col-md-8">{{amphitheater?.nameClassroom}}</div> 
                                            <small class="error"
                                                *ngIf="classroomForm.get('amount').invalid && (classroomForm.get('amount').touched)">
                                                <span *ngIf="classroomForm.get('amount').errors.required">
                                                    {{ 'Message.Required' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===false && !classroomForm.get('amount').errors.required&&classroomForm.get('amount').errors.pattern!=null">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="!classroomForm.get('amount').errors.required&&classroomForm.get('amount').errors.maxlength!=null">
                                                    {{ 'Message.MaxLength' | translate }} 20
                                                </span>
                                            </small>
                                            <small class="error"
                                                *ngIf="!classroomForm.get('amount').invalid && (classroomForm.get('amount').touched)">
                                                <span *ngIf="classroomForm.get('amount').value.trim() == ''">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===true && !isEqualOld(classroomForm.get('amount').value, 'code')">
                                                    {{ 'Message.Same' | translate }}
                                                </span>
                                            </small>
                                        </div>
                                    </div>
                                </div> -->




                <!-- kích cỡ -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="size" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="size">{{ 'Classroom.Size' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input id="size" autocomplete="off" type="text" class="form-control"
                                                formControlName="size"
                                                placeholder="{{ 'Classroom.Size' | translate }}" />
                                            <div class="col-md-8">{{amphitheater?.nameClassroom}}</div>
                                            <small class="error"
                                                *ngIf="classroomForm.get('size').invalid && (classroomForm.get('size').touched)">
                                                <span *ngIf="classroomForm.get('size').errors.required">
                                                    {{ 'Message.Required' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===false && !classroomForm.get('size').errors.required&&classroomForm.get('size').errors.pattern!=null">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="!classroomForm.get('size').errors.required&&classroomForm.get('size').errors.maxlength!=null">
                                                    {{ 'Message.MaxLength' | translate }} 20
                                                </span>
                                            </small>
                                            <small class="error"
                                                *ngIf="!classroomForm.get('size').invalid && (classroomForm.get('size').touched)">
                                                <span *ngIf="classroomForm.get('size').value.trim() == ''">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===true && !isEqualOld(classroomForm.get('size').value, 'code')">
                                                    {{ 'Message.Same' | translate }}
                                                </span>
                                            </small>
                                        </div>
                                                                        </div>
                                </div> -->





                <!-- chức năng -->
                <!-- <div class="col-md-6">
                                    <input id="id" type="hidden" class="form-control" formControlName="idClassroom" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                            for="chucNang">{{ 'Classroom.Functions' | translate }}
                                            <span style="color:red;"> *</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input id="chucNang" autocomplete="off" type="text" class="form-control"
                                                formControlName="chucNang"
                                                placeholder="{{ 'Classroom.Functions' | translate }}" />
                                            <div class="col-md-8">{{amphitheater?.nameClassroom}}</div>
                                            <small class="error"
                                                *ngIf="classroomForm.get('chucNang').invalid && (classroomForm.get('chucNang').touched)">
                                                <span *ngIf="classroomForm.get('chucNang').errors.required">
                                                    {{ 'Message.Required' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===false && !classroomForm.get('chucNang').errors.required&&classroomForm.get('chucNang').errors.pattern!=null">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="!classroomForm.get('chucNang').errors.required&&classroomForm.get('chucNang').errors.maxlength!=null">
                                                    {{ 'Message.MaxLength' | translate }} 20
                                                </span>
                                            </small>
                                            <small class="error"
                                                *ngIf="!classroomForm.get('chucNang').invalid && (classroomForm.get('chucNang').touched)">
                                                <span *ngIf="classroomForm.get('chucNang').value.trim() == ''">
                                                    {{ 'Message.CodeInvalid' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="isUpdate===true && !isEqualOld(classroomForm.get('chucNang').value, 'code')">
                                                    {{ 'Message.Same' | translate }}
                                                </span>
                                            </small>
                                        </div>
                                    </div>
                                </div> -->


                <div class="col-md-6" *ngIf="isUpdate===true">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="statuss">{{'Account.Status'|translate}}
                            <span style="color:red;"> *</span>
                        </label>
                        <div class="col-md-8">
                            <input type="hidden" required>
                            <select class="form-control" formControlName="statuss" autofocus>
                                <option *ngFor="let status of listStatus" [value]="status.id">
                                    {{status.name}}</option>
                            </select>
                            <small class="error" *ngIf="categoryForm.get('statuss').invalid 
                                  && (categoryForm.get('statuss').touched)">
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!isValidForm()">{{ 'Common.Save' | translate }}</button>
                <button type="button" class="btn default" (click)="goBack()">
                    <i class="fa fa-undo" aria-hidden="true"></i>{{ 'Common.Back' | translate }}</button>
            </div>
        </form>
    </div>
</div>