<div class="container" style="font-family: Arial, Helvetica, sans-serif;">

    <div>
        <div class="row">
            <div class="col text-center">
                <p class="font-weight-bold">Vui lòng mở ứng dụng momo trên điện thoại và quét mã dưới đây để thực hiện thanh toán
                    <img style="width: 50px; height: 50px;" src="https://static.mservice.io/img/logo-momo.png"></p>
                <p class="text-danger">Lưu ý: <i>Bạn phải thanh toán qua momo mới có thể hoàn tất giao dịch. Sau khi đã
                        thanh toán vui lòng bấm nút "Xác nhận thanh toán" phía dưới để hoàn tất giao dịch</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img [src]="'data:image/png;base64,' + order.qrcode" alt="Mã code thanh toán">
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top:15px; margin-bottom: 15px;">
        <h3 class="text-success">Chi tiết đơn hàng</h3>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá (VNĐ)</th>
                    <th scope="col">Thành tiền (VNĐ)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderDetail of orderDetails; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{orderDetail.product.name}}</td>
                    <td>{{orderDetail.product.id}}</td>
                    <td>{{orderDetail.quantity}}</td>
                    <td>{{orderDetail.product.price | FomatMoney}}</td>
                    <td>{{orderDetail.product.price * orderDetail.quantity | FomatMoney}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col text-center">
            <button *ngIf="2 > order.status;else orderStatus" class="btn btn-primary" (click)="confirm()">Xác nhận thanh toán</button>
            <ng-template #orderStatus><button class="btn btn-success">Đã thanh toán</button></ng-template>
        </div>
    </div>
</div>