.product-not-found {
    height: 400px;
    color: #777;
    font-size: 16px;
    text-align: center;
}

.badge-primary {
    position: absolute;
}

.ver_container {
    display: block;
    height: 160px !important;
}