<div class="container-page">
    <div class="mp-pusher" id="mp-pusher">
        <div class="top-area">
            <div class="grid_frame">
                <div class="container_grid clearfix">
                    <div class="grid_12">
                        <h2 class="page-title">Hơn 500 sản phẩm luôn sẵn sàng phục vụ!</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="sys_mod_filter" class="mod-filter">
            <div class="grid_frame">
                <div class="container_grid clearfix">
                    <div class="grid_12">
                        <div class="lbl-search">
                            <input class="txt-search" id="sys_txt_search" type="search" placeholder="Tên sản phẩm" />
                            <input type="submit" class="btn-search" value="" />
                        </div>
                        <div class="select-cate">
                            <div id="sys_selected_val" class="show-val">
                                <span data-cate-id="0">Tất cả danh mục</span>
                                <em class="pick-down"></em>
                            </div>
                            <div id="sys_list_dd_cate" class="dropdown-cate">
                                <div class="first-lbl">Tất cả danh mục</div>
                                <div class="wrap-list-cate clearfix" *ngFor="let item of categorys;let i = index">
                                    <a href="javascript:;" #category id="{{i}}">{{item.name}}</a>
                                </div>
                            </div>
                        </div>
                        <!--end: .select-cate -->
                        <div class="range-days-left">
                            <div class="custom-control custom-checkbox" style="display: inline-block;">
                                <input type="checkbox" class="custom-control-input" id="productSale">
                                <label class="custom-control-label" for="productSale">Khuyến mại</label>
                            </div>
                            <div class="custom-control custom-checkbox" style="display: inline-block;">
                                <input type="checkbox" class="custom-control-input" id="productNew">
                                <label class="custom-control-label" for="productNew">Sản phẩm mới</label>
                            </div>
                        </div>
                        <!--end: .range-days-left -->

                        <input id="sys_apply_filter" class="btn btn-red type-1 btn-apply-filter" type="button" value="Lọc">
                    </div>
                </div>
            </div>
        </div>
        <!--end: .mod-filter -->
        <div class="grid_frame page-content">
            <div class="container_grid">
                <div class="mod-grp-coupon block clearfix tabbable">
                    <div class="block-content list-coupon clearfix">
                        <div class="tab-content">
                            <div class="tab-content-item active">
                                <div class="product-not-found" *ngIf="products == null">
                                    <p>Không tìm thấy sản phẩm yêu cầu :(</p>
                                </div>
                                <div class="coupon-item grid_3" *ngFor="let item of products;let i = index">
                                    <div class="coupon-content">
                                        <div class="img-thumb-center">
                                            <div class="wrap-img-thumb">
                                                <span class="ver_hold"></span>
                                                <a href="coupon-detail.html" class="ver_container"><img src="../../../assets/images/ex/01_02.jpg" alt="$COUPON_TITLE"></a>
                                            </div>
                                        </div>
                                        <div class="coupon-brand">{{item.name}}</div>
                                        <div class="coupon-price">${{item.price}} </div><del>${{item.price}}</del>
                                        <div class="coupon-desc2"><strong>Nhà sản xuất:</strong> {{item.manufacturer.name}}</div>
                                        <div class="coupon-desc2"><strong>Danh mục:</strong> {{item.category.name}}</div>
                                        <div class="coupon-desc2"><strong>Trạng thái:</strong><em> Còn hàng</em></div>
                                        <div class="coupon-desc">{{item.description}}</div>
                                        <div class="customStar" title="Đánh giá của khách hàng">
                                            <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                            <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                            <span class="fa fa-star checked" style="color:gold; padding: 1px;"></span>
                                            <span [ngClass]="{'fas fa-star-half-alt': i%2==0, 'fa fa-star checked': i%2!=0,'far fa-star' : i%3==0}" style="color:gold; padding: 1px;"></span>
                                            <span [ngClass]="{'far fa-star' : i%2==0, 'fas fa-star-half-alt': i%2!=0}" style="color:gold; padding: 1px;"></span>
                                        </div>
                                        <a class="btn btn-blue btn-take-coupon" style="cursor: pointer;"><span class="fas fa-cart-plus"></span> Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                                <!--end: .coupon-item -->
                            </div>
                        </div>
                    </div>
                    <div *ngIf="products != null"><button class="grid_6 btn btn-orange btn-load-more" [disabled]="maxTotalRecord" (click)="loadMoreProduct()">Xem thêm ({{totalRecord}}) <em class="fas fa-level-down-alt"></em></button></div>
                </div>
                <!--end block: Featured Coupons-->
                <div class="mod-brands block clearfix">
                    <div class="grid_12">
                        <h3 class="title-block has-link">
                            KHÁCH HÀNG
                        </h3>
                    </div>
                    <div class="block-content list-brand clearfix">
                        <div class="brand-item grid_4">
                            <div class="brand-content">
                                <div class="brand-logo">
                                    <div class="wrap-img-logo">
                                        <span class="ver_hold"></span>
                                        <a href="#" class="ver_container"><img src="../../../assets/images/ex/01_07.jpg" alt="$BRAND_TITLE"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: .brand-item -->
                        <div class="brand-item grid_4">
                            <div class="brand-content">
                                <div class="brand-logo">
                                    <div class="wrap-img-logo">
                                        <span class="ver_hold"></span>
                                        <a href="#" class="ver_container"><img src="../../../assets/images/ex/01_07.jpg" alt="$BRAND_TITLE"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: .brand-item -->
                        <div class="brand-item grid_4">
                            <div class="brand-content">
                                <div class="brand-logo">
                                    <div class="wrap-img-logo">
                                        <span class="ver_hold"></span>
                                        <a href="#" class="ver_container"><img src="../../../assets/images/ex/01_07.jpg" alt="$BRAND_TITLE"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: .brand-item -->
                        <div class="brand-item grid_4">
                            <div class="brand-content">
                                <div class="brand-logo">
                                    <div class="wrap-img-logo">
                                        <span class="ver_hold"></span>
                                        <a href="#" class="ver_container"><img src="../../../assets/images/ex/01_07.jpg" alt="$BRAND_TITLE"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: .brand-item -->
                        <div class="brand-item grid_4">
                            <div class="brand-content">
                                <div class="brand-logo">
                                    <div class="wrap-img-logo">
                                        <span class="ver_hold"></span>
                                        <a href="#" class="ver_container"><img src="../../../assets/images/ex/01_07.jpg" alt="$BRAND_TITLE"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: .brand-item -->
                        <div class="brand-item grid_4">
                            <div class="brand-content">
                                <div class="brand-logo">
                                    <div class="wrap-img-logo">
                                        <span class="ver_hold"></span>
                                        <a href="#" class="ver_container"><img src="../../../assets/images/ex/01_07.jpg" alt="$BRAND_TITLE"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: .brand-item -->
                    </div>
                </div>
                <!--end: .mod-brand -->
            </div>
        </div>
    </div>
</div>