<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>{{ 'SIDEBAR.Directory' | translate }} >
                    {{ 'SIDEBAR.Category' | translate }} > {{ 'Common.Detail'
                    | translate }}
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal align-middle">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 text-right">{{'Category.Name'|translate}}:</label>
                                        <div class="col-md-8">{{category?.name}}</div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label
                                            class="col-md-4 text-right">{{'Classroom.Amphitheater'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.amphitheater.nameAmphitheater}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.Symbol'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.symbol}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.Amount'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.amount}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.Size'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.size}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.Functions'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.chucNang}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.CreateTime'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.createTime | date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.CreatedBy'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.createdBy}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.UpdateTime'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.updateTime | date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.UpdatedBy'|translate}}</label>
                                        <div class="col-md-8">{{classroom?.updatedBy}}</div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Category.Status'|translate}}</label>
                                        <div class="col-md-8">{{category?.statuss==1?'Active':'Inactive'}}</div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="col-md-4 text-right">{{'Classroom.Device'|translate}}</label>
                                        <div class="col-md-8" *ngFor="let item of device">{{item?.nameDevice}}  -  {{item?.statuss==1?'Active':'Inactive'}}</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn default" (click)="goBack()">
                                    <i class="fa fa-undo"
                                        aria-hidden="true"></i>{{ 'Common.Back' | translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
