<div>
    <div class="viewport-pop">
        <div class="transport-viewer clearfix">
            <div class="mod-register">
                <h3 class="rs title-mod">Hello pretty! Welcome to Couponday.com</h3>
                <p style="color: red;" *ngIf="isError">Tên đăng nhập hoặc mật khẩu không chính xác</p>
                <div class="wrap-form-reg clearfix">
                    <form action="#">
                        <div class="left-form">
                            <label class="wrap-txt" for="sys_email">
                                <input class="input-txt" id="sys_email" type="text" name="username" placeholder="Tên đăng nhập" [(ngModel)]="username">
                            </label>
                            <label class="wrap-txt" for="sys_pass">
                                <input class="input-txt" id="sys_pass" type="password" placeholder="Mật khẩu" name="password" [(ngModel)]="password">
                            </label>
                            <label class="wrap-check" for="sys_chk_news">
                                <input id="sys_chk_news" class="input-chk" type="checkbox"> Remember me
                                <i class="icon iUncheck"></i>
                                <a class="lost-pass" href="#">Forgot password ?</a>
                            </label>
                            <div class="wrap-login-btn">
                                <button class="btn-flat gr btn-submit-reg" type="submit" (click)="login()">Đăng nhập</button>
                                <div class="sep-connect">
                                    <span>Or</span>
                                </div>
                                <div class="grp-connect">
                                    <a class="btn-flat fb" href="#">Facebook</a>
                                    <a class="btn-flat gg" href="#">Google</a>
                                </div>
                            </div>
                        </div>
                        <div class="right-create-acc">
                            <img class="account" src="images/reg-account.png" alt="Couponday.com">
                            <p class="lbl-dung-lo rs">Not a member? Don’t worry</p>
                            <a id="sys_link_reg_panel" href="register.html" class="btn-flat yellow btn-submit-reg">Create an account</a>
                            <div id="sys_warning_sms" class="warning-sms" data-warning-txt="No spam guarantee,No disturb,Promotion News"></div>
                        </div>
                    </form>
                    <i class="line-sep"></i>
                </div>
            </div>
            <!--end: Login panel -->
        </div>
    </div>
</div>