<mdb-card style="top: 50px;
width: 40%;margin: auto;margin-bottom: 100px;">

  <mdb-card-header class="info-color white-text text-center">

    <mdb-card-title>
      <h5 style="font-size: 20px;">
        <strong>Thông tin đăng nhập</strong>
      </h5>
    </mdb-card-title>

  </mdb-card-header>

  <mdb-card-body class="px-lg-5 pt-0">
    <mat-label *ngIf="isError" style="padding-left: 25%;color: red;">Thông tin đăng nhập không chính xác!</mat-label>
    <form class="text-center">
        <mat-form-field class="example-full-width" style="padding-top: 20px;">
          <mat-label>User name *</mat-label>
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                 placeholder="User name" minlength="3" [(ngModel)]="account.username">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            User name không được bỏ trống!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password *</mat-label>
          <input matInput [formControl]="passwordFormControl" type="password" [errorStateMatcher]="matcher"
                 placeholder="Your Password" minlength="6" [(ngModel)]="account.password">
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password tối thiểu 6 ký tự!
          </mat-error>
        </mat-form-field>
      <div class="d-flex justify-content-around">
        <div>
          <mat-checkbox>Remember me</mat-checkbox>
        </div>
        <div>
          <p>Chưa có tài khoản?
            <a [routerLink]="['/dang-ky']" >Đăng Ký</a>
          </p>
        </div>
      </div>

      <button mdbBtn (click)="login()" color="info" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit" *ngIf="!passwordFormControl.hasError('required') && !emailFormControl.hasError('email') && !emailFormControl.hasError('required');else btnSubmit">Đăng nhập</button>
      <ng-template #btnSubmit>
        <button mdbBtn color="info" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit" >Đăng nhập</button>
      </ng-template>
    </form>

  </mdb-card-body>

</mdb-card>
